{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="{% static 'css/_sidebar.css' %}" rel="stylesheet" />

<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            
          </li>
          <li><a  href="{% url 'finance' %}" style="text-decoration: none">
              <i class="fas fa-home"></i>
              <span class="nav-item">Bilan</span> 
            </a>
          </li>
          <li><a href="" style="text-decoration: none">
              <i class="fas fa-user"></i><span class="nav-item">Profits</span> 
            </a>
          </li>
          <li><a href="{% url 'stats' %}" style="text-decoration: none">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Bilan Summary</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Setting</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a>
          </li>
        </ul>  
      </div>
    </nav>

 
 <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
      
    .sidebar{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 90px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 20px 35px rgba(0, 0, 0.1);
    
      }
      .sidebar a {
        position: relative;
        color: rgb(247, 236, 236) !important;
        font-size: 14px !important;
        display: table !important;
        width: 300px !important;
        padding: 10px !important;
        font-family: sans-serif;
      }
      .fas{
        position: relative;
        width: 70px;
        height: 40px;
        top: 10px;
        font-size: 20px;
        text-align: center;
      }
      .nav-item{
        position: relative;
        top: 10px;
        margin-left: 15px;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
      }
      .nav-item a:hover{
        background: #eee;
        text-decoration: none;
    
      }
      .sidebar:hover{
        width: 280px;
        transition: all 0.5s ease;
      }
    
</style>