{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Financial {% block title %} {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="{% static 'css/_sidebar.css' %}" rel="stylesheet" />

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css27family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;
                1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
    <!--FONTAWESOME-->
    <script src="https://kit.fontawesome.com/f42b8bc38.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar  navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <div class="side-nav-button p-2 me-3 text-light">
        <i class="fas fa-bars"></i>
      </div>  

      <ul
        class="navbar-nav px-3"
        style="display: flex; flex-direction: row; align-items: center;">
        <li class="nav-item text-nowrap">
          <span class="nav-link" href="">
            ({{request.user.username}})
          </span>
        </li>

        
        
        <li class="nav-item text-nowrap mt-3 ml-2">
          <form action="{% url  'logout' %}" method="POST">
            {% csrf_token %}
            <input
              class="text text-capitalize"
              type="submit"
              value="Sign out"
            />
          </form>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        {% include 'partials/_sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.4/static/js/vendor/jquery.slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
     <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
